{% use "bootstrap_4_layout.html.twig" %}

{% block datetime_widget -%}
    {% if widget == 'single_text' %}
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            {{ form_widget(form) }}
        </div>
    {% else -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
        <div {{ block('widget_container_attributes') }}>
            {{- form_errors(form.date) -}}
            {{- form_errors(form.time) -}}
            {{- form_widget(form.date, { datetime: true } ) -}}
            {{- form_widget(form.time, { datetime: true } ) -}}
        </div>
    {%- endif %}
{%- endblock datetime_widget %}