{% extends 'dashboard/base.html.twig' %}

{% block title %}Offers | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans %}Offers{% endtrans %}</li>
            </ol>
        </nav>
    </div>
    <header role="heading">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <h1>
                        Offer
                    </h1>
                    <p class="hidden-xs">{% trans %}See your offers{% endtrans %}</p>
                </div>
            </div>
        </div>
    </header>

    <fieldset class="section mt-3">
        <div id="app" class="container">
            <div class="row">
                <div class="masonry-item col-md-12">
                    {% include 'includes/flashMessages.html.twig' %}
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4" v-for="offeritem in items">
                            <offer-item v-bind:offeritem="offeritem" base-url="{{ path('app_home')}}"/>
                        </div>  
                    </div>  
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard/tenant/offers') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard/tenant/offers') }}
{% endblock %}
