<ul class="sidebar-menu scrollable pos-r">
	<li class="nav-item">
		<a class="sidebar-link text-muted" href="{{ path('dashboard_index') }}">
			<span class="icon-holder">
				<i class="fas fa-home"></i>
			</span>
			<span class="title">Dashboard</span>
		</a>
	</li>
	<li class="nav-item dropdown">
		<a class="dropdown-toggle" href="javascript:void(0);">
			<span class="icon-holder">
				<i class="fas fa-briefcase"></i>
			</span>
			<span class="title">My Office</span>
			<span class="arrow">
				<i class="ti-angle-right"></i>
			</span>
		</a>
		<ul class="dropdown-menu">
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_calendar_index') }}">
					<span class="icon-holder"></span>
					<span class="title">{% trans %}Calendar{% endtrans %}</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_schedule_index') }}">
					<span class="icon-holder"></span>
					<span class="title">{% trans %}Schedule{% endtrans %}</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_booking_index') }}">
					<span class="icon-holder"></span>
					<span class="title">Bookings</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_offers_index') }}">
					<span class="icon-holder"></span>
					<span class="title">{% trans %}Offers{% endtrans %}</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_renting_reserves_index') }}">
					<span class="icon-holder"></span>
					<span class="title">{% trans %}Reserves{% endtrans %}</span>
				</a>
			</li>
		</ul>
	</li>
	<li class="nav-item dropdown">
		<a class="dropdown-toggle" href="javascript:void(0);">
			<span class="icon-holder">
				<i class="fas fa-calendar-alt"></i>
			</span>
			<span class="title">My Portfolio</span>
			<span class="arrow">
				<i class="ti-angle-right"></i>
			</span>
		</a>
		<ul class="dropdown-menu">
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_sales_properties_index') }}">
					<span class="icon-holder"></span>
					<span class="title">Sales portfolio</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_renting_accommodations_index') }}">
					<span class="icon-holder"></span>
					<span class="title">Rental portfolio</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_projects_projects_index') }}">
					<span class="icon-holder"></span>
					<span class="title">Projects portfolio</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_assets_assets_index') }}">
					<span class="icon-holder"></span>
					<span class="title">Assets portfolio</span>
				</a>
			</li>
		</ul>
	</li>
	<li class="nav-item dropdown">
		<a class="dropdown-toggle" href="javascript:void(0);">
			<span class="icon-holder">
				<i class="fas fa-sitemap"></i>
			</span>
			<span class="title">My network</span>
			<span class="arrow">
				<i class="ti-angle-right"></i>
			</span>
		</a>
		<ul class="dropdown-menu">
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_my_network_agents_index') }}">
					<span class="icon-holder"></span>
					<span class="title">{% trans %}Agents{% endtrans %}</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_my_network_investors_index') }}">
					<span class="icon-holder"></span>
					<span class="title">Investors</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_my_network_tenants_index') }}">
					<span class="icon-holder"></span>
					<span class="title">Tenants</span>
				</a>
			</li>
		</ul>
	</li>
	<li class="nav-item dropdown">
		<a class="dropdown-toggle" href="javascript:void(0);">
			<span class="icon-holder">
				<i class="fas fa-pound-sign"></i>
			</span>
			<span class="title">My finance</span>
			<span class="arrow">
				<i class="ti-angle-right"></i>
			</span>
		</a>
		<ul class="dropdown-menu">
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_my_finance_properties_index') }}">
					<span class="icon-holder"></span>
					<span class="title">Properties finances</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_my_finance_projects_index') }}">
					<span class="icon-holder"></span>
					<span class="title">Project Finances</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="sidebar-link" href="{{ path('dashboard_my_finance_assets_index') }}">
					<span class="icon-holder"></span>
					<span class="title">Assets Finances</span>
				</a>
			</li>
		</ul>
	</li>

	{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
		<li class="nav-item mT-30 actived">
			<a class="sidebar-link" href="{{ path('dashboard_index', {'_switch_user': '_exit'}) }}">
				<span class="icon-holder">
					<i class="fas fa-user-secret"></i>
				</span>
				<span class="title">Exit impersonation</span>
			</a>
		</li>
	{% endif %}
</ul>
