{% extends 'frontend/base.html.twig' %}

{% set pageTitle = 'Letting' %}

{% macro search_form(className) %}
    <form class="search-form {{ className }}" action="{{ path('app_letting_index') }}" method="get">
        <h5>{{ 'Search the average rental for your property' | trans }}</h5>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-map-marker-alt"></i>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Postcode" name="q" v-model="queryPostCode">
            <div class="input-group-append">
                <button type="button" class="btn btn-primary" @click="checkPostCodes()">{{ 'Search' | trans }}
                    <span v-if="pendingPostCode" class="btn-loading"></span></button>
            </div>
        </div>
    </form>
{% endmacro %}

{% block body %}
    <div class="letting selling-letting booking-page"  id="app"
         data-authenticated="{{ is_granted('ROLE_USER') ? 1 : 0 }}"
         data-find-tenant-fee="499"
         data-find-only-charge="0.015"
         data-rent-collect-charge="0.065"
         data-fully-managed-charge="0.085"
         data-rent-value="0"
         data-query-code-url="{{ path('app_letting_postcode') }}"
         data-save-url="{{ path('app_letting_save') }}"
         data-agents-url="{{ path('app_letting_agents') }}">
        <div class="filters" >
            {% embed 'frontend/includes/page-banners.html.twig' with { 'search_form': _self.search_form('desktop') } %}
                {% block content %}
                    {{ search_form }}
                {% endblock %}
            {% endembed %}
        </div>
        <div class="page navbar-offset" style="z-index: 999;margin-top: 0 !important;top: 0px;">
            {% block content %}
                {{ _self.search_form('mobile') }}
            {% endblock %}
            <div class="content">
                <div class="page">
                    <div class="container">
                        <div class="row" ref="addr">
                            <div class="col-12" v-if="!queryStatus">
                                <p class="alert alert-danger">No found result</p>
                            </div>
                            <div class="col-12 offset-md-2 offset-lg-3 col-md-8 col-lg-6">
                                <div v-if="currentStep >= 1 && queryStatus" class="custom-carousel-wrapper">
                                    <h4 class="caption text-center">Choose Address</h4>
                                    <div id="bookCarousel_hour" class="carousel address booking-carousel vert slide"
                                         data-ride="carousel" data-interval="false">
                                        <a class="carousel-control-prev carousel-action" href="#bookCarousel_hour"
                                           role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon fa fa-3x fa-chevron-up"
                                                  aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <div class="carousel-inner">
                                            <div class="carousel-item" v-for="(address,ind) in addresses"
                                                 v-bind:class="ind===0?'active':''">
                                                <div class="d-flex flex-column align-items-center justify-content-around">
                                                    <div v-for="addr in address"
                                                         class="item d-flex justify-content-center align-items-center"
                                                         @click="bindAddress(addr)"
                                                         v-bind:class="currentAddr.text === addr.text?'active':''">
                                                        <span class="address-item">{{ '{{ addr.text }}' }}</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <a class="carousel-control-next carousel-action" href="#bookCarousel_hour"
                                           role="button" data-slide="next">
                                            <span class="carousel-control-next-icon fa fa-3x fa-chevron-down"
                                                  aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-3" v-if="currentAddr.hasOwnProperty('text')" class="text-center my-3">
                                <div class="text-center">
                                    <h4 class="font-weight-bold">{{ '{{ currentAddr.text }}' }}</h4>
                                    <div style="font-size: 1.5rem" class="mb-3 mb-md-5">
                                        <p class="my-3"> {{ 'Simulate here how much would it be to sell your property with us'| trans }}</p>
                                        <currency-input v-model="rentValue" class="valuation"
                                                        style="text-align: center; color: #cb9900" currency="GBP"
                                                        locale="en-gb"/>
                                    </div>
                                </div>
                                {% verbatim %}
                                <div class="leting-card card-deck">
                                    <div v-bind:class="{'card': true, 'border-primary': plan === 'find_only'}">
                                        <div class="card-header text-center">
                                            {{ 'Find tenant only' | trans }}
                                        </div>
                                        <div class="card-body text-center">
                                            <h3 class="card-title">
                                                {{findOnlyFee|currency}}
                                            </h3>
                                            {{ 'Tenant fee' | trans }}
                                        </div>
                                        <div class="card-footer">
                                            <button
                                                    type="button"
                                                    v-bind:class="{'btn btn-block': true, 'btn-primary': plan === 'find_only', 'btn-secondary': plan !== 'find_only'}"
                                                    v-on:click="choosePlan('find_only')">
                                                {{ 'Choose' | trans }}
                                            </button>
                                        </div>
                                    </div>
                                    <div v-bind:class="{'card': true, 'border-primary': plan === 'rent_collect'}">
                                        <div class="card-header text-center">
                                            {{ 'Let & Rent Collect' | trans }}
                                        </div>
                                        <div class="card-body text-center">
                                            <h3 class="card-title">
                                                {{rentCollectFee|currency}}PCM
                                            </h3>
                                            {{ 'Plus' | trans }} {{findTenantFee|currency}} ({{'Find tenant' | trans }})
                                        </div>
                                        <div class="card-footer">
                                            <button
                                                    type="button"
                                                    v-bind:class="{'btn btn-block': true, 'btn-primary': plan === 'rent_collect', 'btn-secondary': plan !== 'rent_collect'}"
                                                    v-on:click="choosePlan('rent_collect')">
                                                {{ 'Choose' | trans }}
                                            </button>
                                        </div>
                                    </div>
                                    <div v-bind:class="{'card': true, 'border-primary': plan === 'fully_managed'}">
                                        <div class="card-header text-center">
                                            {{ 'Fully managed' | trans }}
                                        </div>
                                        <div class="card-body text-center">
                                            <h3 class="card-title">
                                                {{fullyManagedFee|currency}}PCM
                                            </h3>
                                            {{ 'Plus' | trans }} {{findTenantFee|currency}} ({{'Find tenant' | trans }})
                                        </div>
                                        <div class="card-footer">
                                            <button
                                                    type="button"
                                                    v-bind:class="{'btn btn-block': true, 'btn-primary': plan === 'fully_managed', 'btn-secondary': plan !== 'fully_managed'}"
                                                    v-on:click="choosePlan('fully_managed')">
                                                {{ 'Choose' | trans }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                 {% endverbatim %}
                                <div class="p-4 text-center" v-if="plan !== ''">
                                    <p class="text-primary font-1rem">Please select here one of our Professional Agents
                                        that will be with you on your side during the entire process.</p>
                                    <button type="button" class="btn btn-secondary" @click="fetchAgents"
                                            :disabled="plan === '' || showAgents || loading" v-if="!showAgent">
                                        {{ 'Choose your agent now' | trans }}
                                    </button>
                                    <button type="button" class="btn btn-secondary" @click="fetchAgents"
                                            v-if="showAgent">
                                        {{ 'Choose another agent' | trans }}
                                    </button>
                                </div>
                            </div>
                            <div class="col-12">
                                {% verbatim %}
                                <div v-if="showAgents" ref="agents" class="agent-carousel-wrapper position-relative d-flex align-items-center p-0 p-md-3">
                                    <div v-for="agent in agents" class="item d-flex flex-column align-items-center m-1 m-lg-3">
                                        <div class="card w-100">
                                            <div class="card-header">
                                                <img :src="agent.user.avatar || '/images/nobody_m.original.jpg'" />
                                            </div>
                                            <div class="card-content p-1 p-md-3">
                                                <span class="name">{{agent.user.name}}</span>
                                                <span class="age">{{agent.birthDate|relativeTime}} {{ 'old'| trans }}</span>
                                                <span class="exp">{{agent.experience|relativeTime}} {{ 'experience' | trans }}</span>
                                                <span class="review my-2"><review-stars :stars="agent.stars==null?0:agent.stars" /></span>
                                                <button type="button" class="btn btn-primary btn-block" @click="chooseAgent(agent)">
                                                    {{ "Choose" | trans }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                 <div v-if="loading && currentAddr.hasOwnProperty('text')" class="position-absolute loading-part">
								        <span class="btn-loading"></span>
                                    </div>
                                 <div ref="agent" class="agent" v-if="showAgent && agent">
                                    <div class="card mb-3">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img :src="agent.user.avatar || '/images/nobody_m.original.jpg'" class="card-img" alt="">
                                            </div>
                                            <div class="col-md-8">
                                                <table class="table">
                                                    <tr>
                                                        <th>{{ "Name" | trans }}</th>
                                                        <td>
                                                            {{agent.user.name}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>{{ "Age" | trans }}</th>
                                                        <td>
                                                            {{agent.birthDate|relativeTime}} {{ 'old'| trans }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                       <th>{{ "Experience" | trans }}</th>
                                                        <td>
                                                            {{agent.experience|relativeTime}} {{ 'experience' | trans }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>{{ "Reviews" | trans }}</th>
                                                        <td>
                                                            <review-stars :stars="agent.stars==null?0:agent.stars" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>{{ "Description" | trans }}</th>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">{{agent.description}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                 <div class="custom-carousel-wrapper d-flex align-items-center flex-column p-3">
								 </div>
                            {% endverbatim %}
                            </div>
                            <div class="col-12 offset-md-2 offset-lg-3 col-md-8 col-lg-6">
                                {% verbatim %}
                                <div v-if="showAgent && agent" class="custom-carousel-wrapper position-relative d-flex align-items-center flex-column p-0 p-md-3">
                                <p class="text-center text-primary">Please select here the day and time to suits you to our agent Visit your property.</p>
                                <h4 class="caption">{{monthValue}}</h4>
								<div id="bookCarousel" class="carousel booking-carousel slide w-100" data-ride="carousel"  data-interval="false">
									<a @click="carouselAction(-1)" class="carousel-control-prev carousel-action" href="#bookCarousel" role="button" data-slide="prev">
										<span class="carousel-control-prev-icon fa fa-3x fa-chevron-left" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<div class="carousel-inner">
                                        <div v-for="(item,index_d) in days" class="carousel-item"  v-bind:class="index_d === 0?'active':''" >
                                            <div class="d-flex align-items-center justify-content-around">
                                                <div v-for="(one,index_one) in item.days" class="item d-flex flex-column align-items-center">
                                                    <span>{{ one.week }}</span>
                                                    <div @click="fetchTimes(one,index_one,index_d)" v-bind:class="selectedDay.hasOwnProperty('index_date') && selectedDay.index_date == index_one && selectedDay.index_p == index_d?'active':''">{{  one.text }}</div>
                                                </div>
                                            </div>
                                        </div>
									</div>
									<a @click="carouselAction(1)" class="carousel-control-next carousel-action" href="#bookCarousel" role="button" data-slide="next">
										<span class="carousel-control-next-icon fa fa-3x fa-chevron-right" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>
                                <div v-if="loadingDay" class="position-absolute loading-part">
								    <span class="btn-loading"></span>
                                </div>
                                </div>
                                <div v-if="selectedDay.hasOwnProperty('index_date')" class="custom-carousel-wrapper" >
								<h4 class="caption text-center">{{ selectedDay.full }}</h4>
								<div class="position-relative">
								<div v-if="bookHours.length > 0" id="bookCarousel_hour" class="carousel booking-carousel vert slide" data-ride="carousel"  data-interval="false">
									<a class="carousel-control-prev carousel-action" href="#bookCarousel_hour" role="button" data-slide="prev">
										<span class="carousel-control-prev-icon fa fa-3x fa-chevron-up" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<div class="carousel-inner">
											<div class="carousel-item " v-for="(bookTime,inT) in bookHours" v-bind:class="inT === 0?'active':''" >
												<div class="d-flex flex-column align-items-center justify-content-around">
													<div v-for="(time,index_time) in bookTime" @click="bindBookHour(time,index_time,inT)" class="item d-flex justify-content-center align-items-center"  v-bind:class="time.free===0?'disabled':(selectedHour.hasOwnProperty('index_time') && selectedHour.index_time == index_time && selectedHour.index_p == inT?'active':'')">
														<span>{{ time.val }}</span>
													</div>
												</div>
											</div>

									</div>
									<a class="carousel-control-next carousel-action" href="#bookCarousel_hour" role="button" data-slide="next">
										<span class="carousel-control-next-icon fa fa-3x fa-chevron-down" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>
								<div v-else-if="bookHours.length === 0">
									<div class="alert alert-info">Not Available </div>
								</div>
								<div v-if="loadingHour" class="position-absolute loading-part">
								    <span class="btn-loading"></span>
                                </div>
                                </div>
							</div>
							    {% endverbatim %}
                                <div v-if="selectedHour.hasOwnProperty('index_time')" class="my-3">
                                    <div v-if="authenticated">
                                        <button type="button" class="btn btn-primary btn-block" @click="bookingSubmit()"
                                                v-bind:disabled="isSubmitted">Submit <span v-if="isSubmitted"
                                                                                           class="btn-loading"></span>
                                        </button>
                                    </div>
                                    <div v-else class="d-flex justify-content-around">
                                        <button @click="bookingStep(2)" type="button"
                                                class="btn btn-block mr-1"
                                                v-bind:class="currentStep===2?'btn-primary':'btn-outline-primary'">login
                                        </button>
                                        <button @click="bookingStep(3)" type="button"
                                                v-bind:class="currentStep===3?'btn-primary':'btn-outline-primary'"
                                                class="btn btn-block my-0 ml-1">Register
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 offset-md-2 offset-lg-3 col-md-8 col-lg-6">
                                <div v-if="currentStep===2" class="mt-2">
                                    <h4>Booking with Login</h4>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control"
                                               v-bind:class="errors.hasOwnProperty('email')?'has-error':''"
                                               v-model="login.email" id="login_email">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control"
                                               v-bind:class="errors.hasOwnProperty('password')?'has-error':''"
                                               v-model="login.password" id="login_pass">
                                    </div>
                                    <button type="button" class="btn btn-block btn-primary"
                                            @click="bookingSubmit('login')" v-bind:disabled="isSubmitted">Submit <span
                                                v-if="isSubmitted" class="btn-loading"></span></button>
                                </div>
                                <div v-show="currentStep === 3">
                                    <h4>Booking with Register</h4>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control"
                                               v-bind:class="errors.hasOwnProperty('name')?'has-error':''"
                                               v-model="register.name" id="reg_name">
                                    </div>
                                    <div class="form-group">
                                        <label>Phone number</label>
                                        <input class="form-control"
                                               v-bind:class="errors.hasOwnProperty('phone')?'has-error':''"
                                               v-model="register.phone" id="reg_phone">
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control"
                                               v-bind:class="errors.hasOwnProperty('email')?'has-error':''"
                                               v-model="register.email" id="reg_email">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control"
                                               v-bind:class="errors.hasOwnProperty('password')?'has-error':''"
                                               v-model="register.password" id="reg_pass">
                                    </div>
                                    <div class="form-group">
                                        <label>Password Confirm</label>
                                        <input type="password" class="form-control"
                                               v-bind:class="errors.hasOwnProperty('conf')?'has-error':''"
                                               v-model="register.conf" id="reg_conf">
                                    </div>
                                    <div class="form-group">
                                        <label>Address Line 1</label>
                                        <input class="form-control" id="registration_address_addressLine1"
                                               ref="regAddr1"
                                               v-bind:class="errors.hasOwnProperty('address1')?'has-error':''">
                                    </div>
                                    <div class="form-group">
                                        <label>Address Line 2</label>
                                        <input class="form-control" id="registration_address_addressLine2"
                                               ref="regAddr2"
                                               v-bind:class="errors.hasOwnProperty('address2')?'has-error':''">
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Post Code</label>
                                                <input class="form-control" id="registration_address_postcode"
                                                       ref="regCode"
                                                       v-bind:class="errors.hasOwnProperty('postcode')?'has-error':''">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input class="form-control" id="registration_address_city" ref="regCity"
                                                       v-bind:class="errors.hasOwnProperty('city')?'has-error':''">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Country</label>
                                        <select class="form-control" id="registration_address_country" ref="regCountry"
                                                v-bind:class="errors.hasOwnProperty('country')?'has-error':''">
                                            {% for count_val,country_name in countrys %}
                                                <option value="{{ count_val }}">{{ country_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="button" class="btn btn-block btn-primary"
                                            @click="bookingSubmit('register')" v-bind:disabled="isSubmitted">Submit
                                        <span
                                                v-if="isSubmitted" class="btn-loading"></span></button>

                                </div>
                            </div>
                            <div class="col-12 offset-md-2 offset-lg-3 col-md-8 col-lg-6">
                                <p v-if="resultMsg != ''" class="alert alert-danger">{{ '{{ resultMsg }}' }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay" v-bind:class="queryPostCodePending?'active':''">
            <div class="content">
                <div class="text-center">
                    <span class="fa-question-circle fa fa-3x"></span>
                    <h3 class="my-2">Are you sure?</h3>
                    <h3 class="my-3 mb-md-5">Post code : <b>{{ '{{ queryPostCode }}' }}</b></h3>
                </div>
                <div class="actions d-flex">
                    <button type="button" @click="fetchPostCodes()" class="btn btn-primary btn-block mr-1">Confirm
                    </button>
                    <button type="button" @click="fetchPostCodes(true)" class="btn btn-secondary btn-block mt-0 ml-1">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('letting') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('letting') }}
    {{ encore_entry_script_tags('subscribe') }}
{% endblock %}


