{% extends 'dashboard/base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('application-balance') }}
{% endblock %}

{% block body %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('dashboard_index') }}">Dashboard</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<a href="{{path('dashboard_application_balance_index')}}">Company balance</a>
				</li>
			</ol>
		</nav>
	</div>
	<header role="heading">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-6 col-xs-6">
					<h1>
						Company balance
					</h1>
				</div>
				<div class='col-md-3  p-20'>
					<div class="layers bd bgc-white p-20">
						<div class="layer w-100 mB-10">
							<h6 class="lh-1">Total balance</h6>
						</div>
						<div class="layer w-100">
							<div class="peers ai-sb fxw-nw">
								<div class="peer peer-greed">
									<span id="balance-bar-chart"></span>
								</div>
								<div class="peer">
									<h2 id='totalBalance' class="h4 text-muted mb-0 totalBalance">
										{% set balanceColor =  balance > 0 ? "text-success" : "text-danger" %}
										<span class='{{ balanceColor }}'>
											£{{ balance | number_format(2)}}
										</span>
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<fieldset class="section">
		<div class="container" id="app">
			{% include 'includes/flashMessages.html.twig' %}
			<div id='myResultsDiv'></div>
			<div class="row">
				<div class="col-md-12 text-right">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-transfer">
							Create transfer
							<i class="fas fa-exchange-alt"></i>
						</button>
						<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-credit-note">
							Credit Note
							<i class="fas fa-angle-up"></i>
						</button>
						<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-debit-note">
							Debit Note
							<i class="fas fa-angle-down"></i>
						</button>
					</div>
				</div>
			</div>
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="nav-item">
					<a href="#tab-company-transactions" class="nav-link" role="tab" data-toggle="tab">Company Transactions</a>
				</li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="tab-company-transactions">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-board">
									<div class="table-responsive">


										<table id="datatable" class="table">
											<thead>
												<tr>
													<th class=" bdwT-0">Transaction Ref</th>
													<th class="bdwT-0">{% trans %}Created at{% endtrans %}</th>
													<th class=" bdwT-0">Type</th>
													<th class=" bdwT-0">{% trans %}Description{% endtrans %}</th>
													<th class=" bdwT-0 text-center">User</th>
													<th class=" bdwT-0 text-right">Is paid</th>
													<th class=" bdwT-0 text-right">Amount</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="modal-transfer" tabindex="-1" role="dialog">
					{{ form_start(createTransferForm, {'action': path('dashboard_application_balance_dotransfer'), 'method': 'POST', 'attr': { 'data-parsley-validate': 'true', 'id': 'transfer-form' } }) }}
					<div class="modal-dialog" role="document">
						<div class="modal-content">

							<div class="modal-header">
								<h5 class="modal-title">New transfer</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="row">
									{% if errors is iterable %}
										<div class="col-md-12">
											<div class="alert alert-danger alert-dismissible" role="alert">
												<ul>
													{% for error in errors %}
														<li>
															<p class="text-danger">
																<b>{{ error.message }}</b>
															</p>
														</li>
													{% endfor %}
												</ul>
											</div>
										</div>
									{% endif %}
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-12">
												{{ form_row(createTransferForm.accountFromType, { 'attr': { 'v-model': 'typeFrom' } } ) }}
											</div>
											<div class="col-md-12" v-if="typeFrom == 'projectFrom'">
												{{ form_row(createTransferForm.projectFromAccount, {'attr': { ':disabled': 'typeFrom != "projectFrom"', 'v-if': 'typeFrom == "projectFrom"' } }) }}
											</div>
											<div class="col-md-12" v-if="typeFrom == 'propertyFrom'">
												{{ form_row(createTransferForm.propertyFromAccount, {'attr': { ':disabled': 'typeFrom != "propertyFrom"', 'v-if': 'typeFrom == "propertyFrom"' } }) }}
											</div>
											<div class="col-md-12" v-if="typeFrom == 'assetFrom'">
												{{ form_row(createTransferForm.assetFromAccount, {'attr': { ':disabled': 'typeFrom != "assetFrom"', 'v-if': 'typeFrom == "assetFrom"' } }) }}
											</div>
											<div class="col-md-12">
												{{ form_row(createTransferForm.dateRef) }}
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-12">
												{{ form_row(createTransferForm.accountToType, { 'attr': { 'v-model': 'typeTo' } } ) }}
											</div>
											<div class="col-md-12" v-if="typeTo == 'projectTo'">
												{{ form_row(createTransferForm.projectToAccount, {"attr": { ":disabled": "typeTo != 'projectTo'", "v-if": "typeTo == 'projectTo'" } }) }}
											</div>
											<div class="col-md-12" v-if="typeTo == 'propertyTo'">
												{{ form_row(createTransferForm.propertyToAccount, {'attr': { ':disabled': 'typeTo != "propertyTo"', 'v-if': 'typeTo == "propertyTo"' } }) }}
											</div>
											<div class="col-md-12" v-if="typeTo == 'assetTo'">
												{{ form_row(createTransferForm.assetToAccount, {'attr': { ':disabled': 'typeTo != "assetTo"', 'v-if': 'typeTo == "assetTo"' } }) }}
											</div>
											<div class="col-md-12">
												{{ form_row(createTransferForm.amount) }}
											</div>
										</div>
									</div>
									<div class="col-md-12">
										{{ form_row(createTransferForm.description) }}
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button  id="transfer-save" type="submit" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
					{{ form_end(createTransferForm) }}
				</div>

				<div class="modal fade" id="modal-credit-note" tabindex="-1" role="dialog">
					{{ form_start(createCreditNoteForm, {'action': path('dashboard_application_balance_docreditnote'), 'method': 'POST', 'attr': { 'data-parsley-validate': 'true', 'id': 'credit-note-form' } }) }}
					<div class="modal-dialog" role="document">
						<div class="modal-content">

							<div class="modal-header">
								<h5 class="modal-title">New credit note</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-6">
												{{ form_row(createCreditNoteForm.accountType, { 'attr': { 'v-model': 'typeTo', 'label':' ' } } ) }}
											</div>
											<div class="col-md-6" v-if="typeTo == 'project'">
												{{ form_row(createCreditNoteForm.projectAccount, {"attr": { ":disabled": "typeTo != 'project'", "v-if": "typeTo == 'project'" } }) }}
											</div>
											<div class="col-md-6" v-if="typeTo == 'property'">
												{{ form_row(createCreditNoteForm.propertyAccount, {'attr': { ':disabled': 'typeTo != "property"', 'v-if': 'typeTo == "property"' } }) }}
											</div>
											<div class="col-md-6" v-if="typeTo == 'asset'">
												{{ form_row(createCreditNoteForm.assetAccount, {'attr': { ':disabled': 'typeTo != "asset"', 'v-if': 'typeTo == "asset"' } }) }}
											</div>
											<div class="col-md-6" v-if="typeTo == 'project'">
												{{ form_row(createCreditNoteForm.projectTransactionType, {"attr": { ":disabled": "typeTo != 'project'", "v-if": "typeTo == 'project'" } }) }}
											</div>
											<div class="col-md-6" v-if="typeTo == 'property'">
												{{ form_row(createCreditNoteForm.propertyTransactionType, {'attr': { ':disabled': 'typeTo != "property"', 'v-if': 'typeTo == "property"' } }) }}
											</div>
											<div class="col-md-6" v-if="typeTo == 'asset'">
												{{ form_row(createCreditNoteForm.assetTransactionType, {'attr': { ':disabled': 'typeTo != "asset"', 'v-if': 'typeTo == "asset"' } }) }}
											</div>
											<div class="col-md-6">
												{{ form_row(createCreditNoteForm.amount) }}
											</div>
											<div class="col-md-6">
												{{ form_row(createCreditNoteForm.dateRef) }}
											</div>
										</div>
									</div>
									<div class="col-md-12">
										{{ form_row(createCreditNoteForm.description) }}
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button id="credit-note-save" type="submit" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
					{{ form_end(createCreditNoteForm) }}
				</div>

				<div class="modal fade" id="modal-debit-note" tabindex="-1" role="dialog">
					{{ form_start(createDebitNoteForm, {'action': path('dashboard_application_balance_dodebitnote'), 'method': 'POST', 'attr': { 'data-parsley-validate': 'true', 'id': 'debit-note-form'  } }) }}
					<div class="modal-dialog" role="document">
						<div class="modal-content">

							<div class="modal-header">
								<h5 class="modal-title">New debit note</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-6">
												{{ form_row(createDebitNoteForm.accountType, { 'attr': { 'v-model': 'typeTo' } } ) }}
											</div>
											<div class="col-md-6" v-if="typeTo == 'project'">
												{{ form_row(createDebitNoteForm.projectAccount, {"attr": { ":disabled": "typeTo != 'project'", "v-if": "typeTo == 'project'" } }) }}
											</div>
											<div class="col-md-6" v-if="typeTo == 'property'">
												{{ form_row(createDebitNoteForm.propertyAccount, {'attr': { ':disabled': 'typeTo != "property"', 'v-if': 'typeTo == "property"' } }) }}
											</div>
											<div class="col-md-6" v-if="typeTo == 'asset'">
												{{ form_row(createDebitNoteForm.assetAccount, {'attr': { ':disabled': 'typeTo != "asset"', 'v-if': 'typeTo == "asset"' } }) }}
											</div>
											<div class="col-md-6" v-if="typeTo == 'project'">
												{{ form_row(createDebitNoteForm.projectTransactionType, {"attr": { ":disabled": "typeTo != 'project'", "v-if": "typeTo == 'project'" } }) }}
											</div>
											<div class="col-md-6" v-if="typeTo == 'property'">
												{{ form_row(createDebitNoteForm.propertyTransactionType, {'attr': { ':disabled': 'typeTo != "property"', 'v-if': 'typeTo == "property"' } }) }}
											</div>
											<div class="col-md-6" v-if="typeTo == 'asset'">
												{{ form_row(createDebitNoteForm.assetTransactionType, {'attr': { ':disabled': 'typeTo != "asset"', 'v-if': 'typeTo == "asset"' } }) }}
											</div>
											<div class="col-md-6">
												{{ form_row(createDebitNoteForm.amount) }}
											</div>
											<div class="col-md-6">
												{{ form_row(createDebitNoteForm.dateRef) }}
											</div>
										</div>
									</div>
									<div class="col-md-12">
										{{ form_row(createDebitNoteForm.description) }}
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button id="debit-note-save" type="submit" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
					{{ form_end(createDebitNoteForm) }}
				</div>
			</div>
		</fieldset>

	{% endblock %}

	{% block javascripts %}
		{{ parent() }}

        {{ encore_entry_script_tags('application-balance') }}
        <script>       
            datatable = $('#datatable').dataTable({
                ajax: '{{ path("dashboard_application_balance_search") }}',
                pageLength: 200,
                processing: true,
                serverSide: true,
                searching: false,
                columns: [
                    {
                        data: 'transactionRef'
                    },
                    {
                        data: 'createdAt'
                    },
                    {
                        data: 'type.description'
                    },
                    {
                        data: 'description'
                    },
                    {
                        data: 'userName',
                        render: function (data, type, row) {
                             
						    return  data + "<br/> <label class='font-weight-bold'>" + row.userEmail +"</label>";
                        }
                    },
                    {
                        data: 'isPaid',
                        className: 'text-right',
                        render: function (isPaid) {
                            if (! isPaid) {
                                return '<span class="badge badge-pill fl-r badge-danger lh-0 p-10">No</span>';
                            } else {
                                return '<span class="badge badge-pill fl-r badge-success lh-0 p-10">Yes</span>';
                            }
                        }
                    },
                    {
                        data: 'amount',
                        className: 'text-right',
                        render: function (data) {
                            var color = 'text-success';
                            var formatter = new Intl.NumberFormat('uk', {
                                style: 'currency',
                                currency: 'GBP'
                            });

                            if(data < 0) {
                                color = 'text-danger';
                            }
                            
                            return "<span class='"+ color +"'> £" + formatter.format(data) + "</span>" ;
                        }
                    }
                ]
            });
        </script>
		
	{% endblock %}
