{% extends 'dashboard/base.html.twig' %}

{% block title %}Project Investments |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#">Dashboard</a>
				</li>
				<li class="breadcrumb-item">My finance</li>
				<li class="breadcrumb-item active" aria-current="page">Project finances</li>
			</ol>
		</nav>
	</div>

	<header role="heading">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4 col-sm-6 col-xs-6">
					<h1 class="h2">Project finances</h1>
				</div>
				<div class="col-12 col-md-8 col-sm-6 col-xs-6 btn-action">
					<div class="d-flex justify-content-around"></div>
				</div>
			</div>
		</div>
	</header>

	<fieldset class="section">
		<div class="container">
			{% include 'includes/flashMessages.html.twig' %}
			
			{% if is_granted('ROLE_INVESTOR') %}
				<h5>Investments</h5>
				<div class="card mb-3">
					<div class="table-responsive">
						<table id="datatable" class="table" data-url="{{ path('dashboard_my_finance_projects_index') }}">
							<thead>
								<tr>
									<th>{{ 'Date' | trans }}</th>
									<th>{{ 'Transaction ID' | trans }}</th>
									<th>{{ 'Amount' | trans }}</th>
									<th>Transaction Status</th>
									<th>Invest Status</th>
									<th>Project</th>
									<th></th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				
				<h5>Profit Payment</h5>
				<div class="card mb-3">
					<div class="table-responsive">
						<table id="datatable-profit-payment" class="table" data-url="{{ path('dashboard_my_finance_projects_index') }}">
							<thead>
								<tr>
									<th>{{ 'Date' | trans }}</th>
									<th>{{ 'Transaction ID' | trans }}</th>
									<th>{{ 'Amount' | trans }}</th>
									<th>Transaction Status</th>
									<th>Project</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
		
				<h5>Return of capital</h5>
				<div class="card mb-3">
					<div class="table-responsive">
						<table id="datatable-return-capital" class="table" data-url="{{ path('dashboard_my_finance_projects_index') }}">
							<thead>
								<tr>
									<th>{{ 'Date' | trans }}</th>
									<th>{{ 'Transaction ID' | trans }}</th>
									<th>{{ 'Amount' | trans }}</th>
									<th>Transaction Status</th>
									<th>Project</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			{% endif %}
			{% if is_granted('ROLE_AGENT') %}
				<h5>Commission Payment</h5>
				<div class="card mb-3">
					<div class="table-responsive">
						<table id="datatable-commission-payment" class="table" data-url="{{ path('dashboard_my_finance_projects_index') }}">
							<thead>
								<tr>
									<th>{{ 'Date' | trans }}</th>
									<th>{{ 'Transaction ID' | trans }}</th>
									<th>{{ 'Amount' | trans }}</th>
									<th>Transaction Status</th>
									<th>Property</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			{% endif %}
		</div>
	</fieldset>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('dashboard/myfinance/projects/index') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('dashboard/myfinance/projects/index') }}
{% endblock %}
