<div class="row">
    <div class="col-md-4">
        <img class="img-property" src="{{ item.mainPhoto }}" style="width: 100%; height: auto" alt="{{ item.name }}" title="{{ item.name }}">
    </div>
    <div class="col-md-3 balance-transactions">
        <h3 class="property-name">
            <a class="" title="{{ item.name }}" href="{{ path('app_properties_edit', {'id': item.id }) }}">
                {{ item.name }}</a>
        </h3>
        <p class="property-price">
            Investment: £{{ transaction.type.description }}
        </p>
        <p class="property-fee">
            Fee:{{ transaction.fee * 100 | number_format(2) }}%
        </p>
        <p class='{{ amountColor }}'>
            User profit: £{{ transaction.amount | number_format(2)}}
        </p>
    </div>
</div>
