{% extends 'dashboard/base.html.twig' %}

{% block title %}{% trans %}Accommodations{% endtrans %} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('dashboard_index') }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">{% trans %}Renting{% endtrans %}</li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{{path('dashboard_renting_accommodations_index')}}">{% trans %}Accommodations{% endtrans %}</a>
                </li>
            </ol>
        </nav>
    </div>
    <header role="heading">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <h1 class="h2">{% trans %}Accommodations{% endtrans %}</h1>
                    <p class="hidden-xs">{% trans %}Properties for renting{% endtrans %}</p>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-6 btn-action">
                    <div class="d-flex">
                        {{ form_start(searchForm, { attr: { 'data-type': 'basic', id: 'search-form', class: 'ml-auto' } }) }}
                            <div class="form-group">
                                <div class="input-group">
                                    {{ form_widget(searchForm.name, { attr: {'id': 'search-primary' } }) }}
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-secondary">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                </div>
                                {{ form_widget(searchForm.status) }}
                            </div>
                        {{ form_end(searchForm) }}
                        <div class="pl-3">
                            <a href="{{ path('dashboard_renting_accommodations_new') }}" class="btn btn-primary">
                                <span class="fa fa-plus"></span>
                                {% trans %}New accommodation{% endtrans %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <fieldset class="section mt-3">
        <div class="container">
            {% include 'includes/flashMessages.html.twig' %}
            
            <div class="row p-5">
                <div class="col-md-12 text-right">
                    <label>
                        [
                        <strong>{% trans %}Approved{% endtrans %}:</strong>
                        <i class="fa fa-check  c-green-500"></i>
                        ]
                    </label>
                    <label>
                        [
                        <strong>{% trans %}Denied (contact us){% endtrans %}:</strong>
                        <i class="fas fa-exclamation-triangle c-red-500"></i>
                        ]
                    </label>
                    <label>
                        [
                        <strong>{% trans %}On Approval{% endtrans %}:</strong>
                        <i class="fas fa-clock c-orange-300"></i>
                        ]
                    </label>
                </div>
            </div>
            <div class="card">
                <div class="table-responsive">
                    <table id="datatable" class="table" data-url="{{ path("dashboard_renting_accommodations_index") }}" data-is-admin="{{ is_granted('ROLE_ADMIN') ? 'true' : 'false' }}">
                        <thead>
                            <tr>
                                <th class="bdwT-0 no-sort">{% trans %}Photo{% endtrans %}</th>
                                <th class="bdwT-0">{% trans %}Name{% endtrans %}</th>
                                <th class="bdwT-0">Rent</th>
                                <th class="bdwT-0">{% trans %}Hits{% endtrans %}</th>
                                {%- if is_granted('ROLE_ADMIN') -%}
                                    <th class="bdwT-0">User</th>
                                {%- endif -%}
                                <th class="bdwT-0">{% trans %}Post Status{% endtrans %}</th>
                                <th class="bdwT-0">{% trans %}Accommodation Status{% endtrans %}</th>
                                <th class="bdwT-0 no-sort"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard/renting/accommodations/index') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard/renting/accommodations/index') }}
{% endblock %}
