{% extends 'frontend/base.html.twig' %}

{% block title %}Subscribe | {{ parent() }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>body { background-color: #333; }</style>
{% endblock %}

{% block body %}
	<div class="page navbar-offset">
		<div class="create-account">
            <div class="container">
                <h2>START NOW!</h2>
                {# <h3>Select Below What You Want:</h3> #}
            </div>

            <div class="container">
				<div class="card-deck">
					<div class="card mb-5 mb-lg-0">
						<div class="card-body">
							<h5 class="text-gold text-uppercase text-center mb-3">{{ 'BUY, SELL OR RENT' | trans }}</h5>
							<img class="d-block w-100" src="{{ asset('images/subscription/tenant.jpg') }}"></img>
							<hr>
                            <div class="card-content">
                                <ul>
                                    <li>Are you looking to sell your property?</li>
                                    <li>Are you looking to rent your property?</li>
                                    <li>Are you looking to buy a property?</li>
                                    <li>Are you a tenant looking to rent a new home?</li>
                                </ul>
                            </div>
							<a href="{{ path('frontend_subscribe_tenant') }}" class="button-default  btn-block text-center button-filled">{{ 'START HERE' | trans }}</a>
						</div>
					</div>
					<div class="card mb-5 mb-lg-0">
						<div class="card-body">
							<h5 class="text-uppercase text-center mb-3">{{ 'SALES AGENT' | trans }}</h5>
							<img class="d-block w-100" src="{{ asset('images/subscription/agent.jpg') }}"></img>
							<hr>
                            <div class="card-content">
                                <ul>
                                    <li>Are you looking to come on board as Gold Pillar Agent?</li>
                                    <li>Looking to start a rewarding carrer from the confort of your home?</li>
                                    <li>Start your journey to financial freedom with Gold Pillar.</li>
                                    <li>Opportunity to build you own property portfolio!</li>
                                </ul>
                            </div>
							<a href="{{ path('frontend_subscribe_agent') }}" class="button-default  btn-block text-center button-filled">{{'START HERE' | trans }}</a>
						</div>
					</div>
					<div class="card mb-5 mb-lg-0">
						<div class="card-body">
							<h5 class="text-uppercase text-center mb-3">{{ "INVESTOR'S CLUB" | trans }}</h5>
                            <img class="d-block w-100" src="{{ asset('images/subscription/investor.jpg') }}"></img>
							<hr>
                            <div class="card-content">
                                <ul>
                                    <li>Are you looking for exclusibe property deals?</li>
                                    <li>Looking to get started in property investiment but do not have enough capital?</li>
                                    <li>Are you looking to expand your property portfolio?</li>
                                </ul>
                            </div>
							<a href="{{ path('frontend_subscribe_investor') }}" class="button-default  btn-block text-center button-filled">{{ 'START HERE' | trans }}</a>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="text-uppercase text-center mb-3">{{ 'INTRODUCER PARTNER' | trans }}</h5>
                            <img class="d-block w-100" src="{{ asset('images/subscription/broker.jpg') }}"></img>
							<hr>
                            <div class="card-content">
                                <ul>
                                    <li>Do you have a profitable property deal?</li>
                                    <li>Are you looking to get funding for your property deals?</li>
                                    <li>Became out partner and maximise the return on you property deals.</li>
                                </ul>
                            </div>
							<a href="{{ path('frontend_subscribe_broker') }}" class="button-default  btn-block text-center button-filled">{{ 'START HERE' | trans }}</a>
						</div>
					</div>
				</div>

                <div class="learn-more">
                    <a href="{{ path('frontend_learn_more_index') }}" class="button-default button-filled button-large">{% trans %}LEARN MORE{% endtrans %}</a>
                </div>
			</div>
        </div>

		{# <h1 class="mega-title text-center">{{ 'Create account' | trans }}</h1>
		<section class="pricing py-5">
			<div class="container">
				<div class="card-deck">
					<div class="card mb-5 mb-lg-0">
						<div class="card-body">
							<h5 class="text-uppercase text-center mb-3">{{ 'POTENTIAL TENANT' | trans }}</h5>
							<img class="d-block w-100" src="{{ asset('images/subscription/tenant.jpg') }}"></img>
							<h5 class="card-subtitle text-uppercase text-center">{{ 'Register your tenant account for free' | trans }}</h5>
							<hr>
							<a href="{{ path('frontend_subscribe_tenant') }}" class="button-default  btn-block text-center button-filled">{{ 'Sign up Here' | trans }}</a>
						</div>
					</div>
					<div class="card mb-5 mb-lg-0">
						<div class="card-body">
							<h5 class="text-uppercase text-center mb-3">{{ 'SALES EXECUTIVE' | trans }}</h5>
							<img class="d-block w-100" src="{{ asset('images/subscription/agent.jpg') }}"></img>
							<h5 class="card-subtitle text-uppercase text-center">{{ 'Become a property agent' | trans }}</h5>
							<hr>
							<a href="{{ path('frontend_subscribe_agent') }}" class="button-default  btn-block text-center button-filled">{{'Sign up Here' | trans }}</a>
						</div>
					</div>
					<div class="card mb-5 mb-lg-0">
						<div class="card-body">
							<h5 class="text-uppercase text-center mb-3">{{ 'INVESTOR CLUB' | trans }}</h5>
								<img class="d-block w-100" src="{{ asset('images/subscription/investor.jpg') }}"></img>
							<h5 class="card-subtitle text-uppercase text-center">{{ 'Invest in projects and assets' | trans }}</h5>
							<hr>
							<a href="{{ path('frontend_subscribe_investor') }}" class="button-default  btn-block text-center button-filled">{{ 'Sign up Here' | trans }}</a>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="text-uppercase text-center mb-3">{{ 'BROKER' | trans }}</h5>
								<img class="d-block w-100" src="{{ asset('images/subscription/broker.jpg') }}"></img>
							<h5 class="card-subtitle text-uppercase text-center">{{ 'Register your profitable project' | trans }}</h5>
							<hr>
							<a href="{{ path('frontend_subscribe_broker') }}" class="button-default  btn-block text-center button-filled">{{ 'Sign up Here' | trans }}</a>
						</div>
					</div>
				</div>
			</div>
		</section> #}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}