{% extends 'dashboard/base.html.twig' %}

{% block title %}{% trans %}Renting reserve{% endtrans %} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('dashboard_index') }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    {% trans %}Renting{% endtrans %}
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{{path('dashboard_renting_reserves_index')}}">{% trans %}Reserves{% endtrans %}</a>
                </li>
            </ol>
        </nav>
    </div>
    <header role="heading">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-sm-6 col-xs-6">
                    <h1 class="h2">{% trans %}Reserves{% endtrans %}</h1>
                    <p class="hidden-xs">{% trans %}Renting reserve{% endtrans %}</p>
                </div>
                <div class="col-12 col-md-8 col-sm-6 col-xs-6 btn-action">
                </div>
            </div>
        </div>
    </header>

    <fieldset class="section">
        <div class="container">
            {% include 'includes/flashMessages.html.twig' %}
            <div class="card mb-3">
                <div class="table-responsive">
                    <table id="datatable" class="table" data-url="{{ path("dashboard_renting_reserves_index") }}">
                        <thead>
                            <tr>
                                <th>{{ 'Date' | trans }}</th>
                                <th>{% trans %}Reference code{% endtrans %}</th>
                                <th>Fee</th>
                                <th>{% trans %}Accommodation{% endtrans %}</th>
                                <th>{% trans %}People{% endtrans %}</th>
                                <th>{% trans %}Is paid{% endtrans %}</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard/renting/reserves/index') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard/renting/reserves/index') }}
{% endblock %}
