<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ status_code }}</title>
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/favicon//apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/favicon/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon/apple-icon-180x180.png') }}">
        {% block stylesheets %}
             {{ encore_entry_link_tags('main') }}
             {{ encore_entry_link_tags('frontend') }}
        {% endblock %}
    </head>
    <body class="app">
        <div class='pos-a t-0 l-0 bgc-white w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30'>
            <div class='mR-60'>
                <img alt='#' src='{{ asset('images/403.png') }}' />
            </div>
            <div class='d-f jc-c fxd-c'>
                <h1 class='mB-30 fw-900 lh-1 c-red-500' style="font-size: 60px;">{{ status_code }}</h1>
                <h3 class='mB-10 fsz-lg c-grey-900 tt-c'>{{ status_text }}</h3>
                <p class='mB-30 fsz-def c-grey-700'>{{ exception.message }}</p>
                <div>
                    <a href="{{ path('app_home') }}" type='primary' class='btn btn-primary'>{% trans %}Go to home{% endtrans %}</a>
                </div>
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
            {{ encore_entry_script_tags('frontend') }}
        {% endblock %}
    </body>
</html>

